.container {
    max-width: 1000px;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-size: 3rem;
    color: white;
    padding: 20px;
}

input {
    padding: 10px;
    border-radius: 20px 0 0 20px;
    border: none;
    max-width: 300px;
    width: 60%;
    outline: none;
}

button {
    background-color: pink;
    border: none;
    padding: 10px;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
    color: white;
    font-weight: bold;
}